/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*Font Descargada*/
@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

/*Selector Universal*/
*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

/*medidas*/
/*html{
    font-size: 10px;
}*/

/*Medidas Relativas*/
p{
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/*Manejo de Imágenes*/
.principales{
    margin: 25px;
}

.img-main{
    width: 33.33%;
    box-shadow: 8px -10px gold;
    padding: 30px auto;
    border-radius: 10px;
}

/*Videos*/
.video-homenaje{
    width: 60%;
    margin: auto;
}

video{
    width: 100%;
}


.font-destacados{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#footer{
    width: 100%;
    background-color: black;
    color: goldenrod;
    padding: 20px 20px;
    background-image: url('../assets/backgrounds/3d-abstract-wave-pattern-background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}




/*Background-image*/
/*Efecto Parallax*/
.banner{
    width: 100%;
    height: 700px;
    background-image: url("../assets/backgrounds/mike-von-RP7mZFXz7L0-unsplash.jpg");
    background-size: cover;
    /*Parallax*/
    background-attachment: fixed;
}

.banner2{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/lasbarrets-01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Woman Section*/
.imgbannerwoman{
    width: 100vw;
    height: 50%;
}

/*Box-Modeling*/


/*Elementos de línea, Bloque y Linea-Bloque*/ 




/*Tarjetas Mujer*/
/*Metodologia BEM*/
.contenedor{
    max-width: 500px;
    width: 100%;
    margin-left: 15px;
}

/*Bloque 1*/
.tarjeta{
    width: 600px;
    border: 5px solid black;
}

.tarjeta__miniatura{
    height: 200px;
}

.tarjeta__imagen{
    width: 60%;
}

.tarjeta__textos{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.tarjeta__enlace{
    color: #f10086;
    padding: 10px auto;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.tarjeta__parrafo{
    font-family: 'Oswald', sans-serif;
    max-width: 90%;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/*Bloque 2*/
.boton{
    font-size: 14px;
    padding: 8px 35px;
    background-color: #000;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-family: "poppins", sans-serif;
}

/*Modificador*/
.boton--alternativo{
    font-size: 20px;
    font-weight: bold;
}


/*Flexbox*/
.flex-container{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Eje X*/
    justify-content: center;
    /*Eje Y*/
    align-items: center;
    /*Alinea en el eje y cuando los elementos son multilinea*/
    align-content: space-around;
    font-size: 3rem;
    font-family: "poppins", sans-serif;
    background-color: #f10086;
    border-radius: 10px;
    border: 2px solid yellow;  
}

.flex-container > *{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
}

/*order*/
.uno{
    order: 3;
}

/*Navbar Flexbox*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "poppins", sans-serif;
    background-color: #000;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*Columna en fila*/
.nav__list{
    display: flex;
    list-style-type: none;
}

.nav__list .list__links{
    padding: 0 15px;
}

.btn{
    border: none;
}

.btn a{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}








