/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*Font Descargada*/
@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

/*Selector Universal*/
*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

/*medidas*/
html{
    height: 100%;
}

/*Medidas Relativas*/
p{
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/*Manejo de Imágenes*/
.principales{
    margin: 25px;
}

.img-main{
    width: 33.33%;
    box-shadow: 8px -10px gold;
    padding: 30px auto;
    border-radius: 10px;
}

/*Animation Css*/
.img-main{
    animation-name: animo;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
}

@keyframes animo {
    0%{
        transform: scale(.5);
        border-radius: 100%;
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(2);

    }
   
}

/*Animate css*/
.camada41165{
    font-family: "poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #f10086;

    animation-name: backInLeft;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}

/*Videos*/
.video-homenaje{
    width: 60%;
    margin: auto;
}

video{
    width: 100%;
}


.font-destacados{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#footer{
    width: 100%;
    background-color: black;
    color: goldenrod;
    padding: 20px 20px;
    background-image: url('../assets/backgrounds/3d-abstract-wave-pattern-background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}

/*Background-image*/
/*Efecto Parallax*/
.banner{
    width: 100%;
    height: 700px;
    background-image: url("../assets/backgrounds/mike-von-RP7mZFXz7L0-unsplash.jpg");
    background-size: cover;
    /*Parallax*/
    background-attachment: fixed;
}

.banner2{
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/lasbarrets-01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Woman Section*/
.imgbannerwoman{
    width: 100vw;
    height: 50%;
}

/*Box-Modeling*/


/*Elementos de línea, Bloque y Linea-Bloque*/ 




/*Tarjetas Mujer*/
/*Metodologia BEM*/
.contenedor{
    max-width: 500px;
    width: 100%;
    margin-left: 15px;
}

/*Bloque 1*/
.tarjeta{
    width: 600px;
    border: 5px solid black;
}

.tarjeta__miniatura{
    height: 200px;
}

.tarjeta__imagen{
    width: 60%;
}

.tarjeta__textos{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.tarjeta__enlace{
    color: #f10086;
    padding: 10px auto;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.tarjeta__parrafo{
    font-family: 'Oswald', sans-serif;
    max-width: 90%;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/*Bloque 2*/
.boton{
    font-size: 14px;
    padding: 8px 35px;
    background-color: #000;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-family: "poppins", sans-serif;
    transition: all 2s;
}

/*Transiciones en CSS*/
.boton:hover{
    height: 200px;
    background-color: red;
}


/*Modificador*/
.boton--alternativo{
    font-size: 20px;
    font-weight: bold;
}


/*Flexbox*/
.flex-container{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Eje X*/
    justify-content: center;
    /*Eje Y*/
    align-items: center;
    /*Alinea en el eje y cuando los elementos son multilinea*/
    align-content: space-around;
    font-size: 3rem;
    font-family: "poppins", sans-serif;
    background-color: #f10086;
    border-radius: 10px;
    border: 2px solid yellow;  
}

.flex-container > *{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
}

/*order*/
.uno{
    order: 3;
}

/*Navbar Flexbox*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "poppins", sans-serif;
    background-color: #000;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*Columna en fila*/
.nav__list{
    display: flex;
    list-style-type: none;
}

.nav__list .list__links{
    padding: 0 15px;
}

.btn{
    border: none;
}


.btn a{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}

/*CSS GRIDS*/
/*Css Grid Teoría*/
.grid-container{
    font-family: "poppins", sans-serif;
    font-size: 25px;
    text-transform: uppercase;

    width: 90%;
    height: 600px;
    margin: 40px auto;
    border: 1px groove black;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "header header header"
    "nav    main    aside"
    "nav    main    aside"
    "footer footer footer"
    ;
    gap: 10px;

    /*justify-items: center;
    align-items: center;*/

}

.items{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    background-color: gold;
    /*grid-column: 1/4;*/
    grid-area: header;
}

.item2{
    background-color: darkblue;
    /*grid-column: 1/2;
    grid-row: 2/4;*/
    grid-area: nav;
}

.item3{
    background-color: rosybrown;
    /*grid-column: 2/3;
    grid-row: 2/4;*/
    grid-area: main;
}

.item4{
    background-color: snow;
    /*grid-column: 3/4;
    grid-row: 2/4;*/
    grid-area: aside;
}

.item5{
    background-color: hotpink;
    /*grid-column: 1/4;*/
    grid-area: footer;
}

/*gradientes CSS*/
.lideramos{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;

    width: 100vw;
    max-width: 90%;
    height: 300px;
    margin: 20px auto;
    border: 5px groove #000;

    /*Gradientes*/
    /*background-image: linear-gradient(to top, blue,red);*/

    background-image: linear-gradient( 89.9deg,  rgba(255,243,110,1) 16.9%, rgba(30,204,214,1) 55.1%, rgba(5,54,154,1) 90.7% );

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Transformaciones CSS*/
.cajita-container{
    display: flex;
    justify-content: center;
}

.cajita{

    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 150px;
    color: #fff;

    margin: 20px 15px;
    width: 150px;
    height: 150px;
    background-color: #f10086;  
}

/*Transform Traslate*/
.traslate{
    background-color: darkmagenta;
    transform: translate(50px, 50px);
}

/*Transform Rotate*/
.rotate{
    background-color: blueviolet;
    transform: rotate(30deg);
}

/*Transform Scale*/
.scale{
    background-color: darkorange;
    transform: scale(2,2);    
}

/*Transform Skew*/
.skew{
    background-color: darkgreen;
    transform: skewX(30deg) skewY(40deg);
}



/*CSS Grids Responsive/*
/*Media queries teoría*/
/*Mobile*/
@media (max-width: 768px){
    .grid-container{
        font-family: "poppins", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
    
        width: 90%;
        height: 600px;
        margin: 40px auto;
        border: 1px groove black;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
        ;
        gap: 10px;
    }
    .item2{
        display: none;
    }
}

.body-contact{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 0 1.5rem;
}

.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.nombre-empresa{
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 3rem;
}

.nombre-empresa span{
    color: #f10086;
}

.contenedor-contacto{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contenedor-contacto > * {
    padding: 1rem;
}

.formulario-contacto{
    background-color: #222222;
}

.formulario-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-contacto form .bloque{
    grid-column: 1/3;
}

.formulario-contacto form p{
    margin: 0;
    padding: 1em;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #f10086;
    color: #fff;
}

.formulario-contacto form button{
    background-color: #f10086;
    border: 0;
    text-transform: uppercase;
    padding: 1rem;
}

.info-contacto{
    background-color: #000;
}

.info-contacto ul,
.info-contacto p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.info-contacto ul{
    list-style-type: none;
    padding: 0;
}

.info-contacto ul li{
    padding: .3rem;   
}

/*Responsive LG*/
@media (min-width: 768px){
    .body-contact{
        height: 100vh;
        padding: 0 4rem;
    }

    .contenedor-contacto{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contenedor-contacto > *{
        padding: 2rem;
    }

    .info-contacto ul,
    .info-contacto p{
        padding: 1rem;
        text-align: left;
    }

}












